<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FIRAnalyticsDebugEnabled</key>
	<true/>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>364109461380-c6n304ea72ebact5ja3779dqivmaqiqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364109461380-c6n304ea72ebact5ja3779dqivmaqiqn</string>
	<key>API_KEY</key>
	<string>AIzaSyBRLyNzhlmzdgHrCmdedr5asZhqhBOoWmM</string>
	<key>GCM_SENDER_ID</key>
	<string>364109461380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>terror.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-f3ca1</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-f3ca1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:364109461380:ios:bad9aabc7a5f0a5f</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-f3ca1.firebaseio.com</string>
</dict>
</plist>
